{% load i18n admin_urls %}
<div class="submit-row" style="margin-top: 5px;">
{% block submit-row %}
<div style="display: flex; justify-content: space-between !important;">
    <div style="display: flex;">
        <div style="margin-right: 5px;">
            {% if show_save %}<input class="btn btn-primary" type="submit" value="{% translate 'Save' %}" class="default" name="_save">{% endif %}
        </div>
        <div style="margin-right: 5px;">
            {% if show_save_as_new %}<input class="btn btn-info" type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
        </div>
        <div style="margin-right: 5px;">
            {% if show_save_and_add_another %}<input class="btn btn-warning" type="submit" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
        </div>
        <div style="margin-right: 5px;">
            {% if show_save_and_continue %}<input class="btn btn-secondary" type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
        </div>
        {% if show_close %}
            {% url opts|admin_urlname:'changelist' as changelist_url %}
            <a href="{% add_preserved_filters changelist_url %}" class="closelink btn btn-dark">{% translate 'Close' %}</a>
        {% endif %}
    </div>
    <div>
        {% if show_delete_link and original %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <a href="{% add_preserved_filters delete_url %}" class="deletelink btn btn-danger" style="height: max-content;">{% translate "Delete" %}</a>
        {% endif %}
    </div>
    {% endblock %}
</div>
</div>