{% extends "admin/base_site.html" %}

{% block content %}
{% if context.status == False and context.errors != '' %}    
    <div style="height: 50px;" class="items-center border p-3.5 rounded before:inline-block before:absolute text-danger bg-danger-light border-danger ltr:border-l-[64px] rtl:border-r-[64px] dark:bg-success-dark-light">
        <span class="absolute ltr:-right-11 rtl:-left-11 inset-y-0 text-white m-auto">
            <svg> ... </svg>
        </span>
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>{{ context.errors }}</span>
    </div>
    {% elif context.status == True and context.errors == '' %}
    <div style="height: 50px;" class="items-center border p-3.5 rounded text-success bg-success-light border-success ltr:border-l-[64px] rtl:border-r-[64px] dark:bg-success-dark-light">
        <span class="absolute ltr:-left-11 rtl:-right-11 inset-y-0 text-white">
            <svg> ... </svg>
        </span>
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>Data Berhasil Tersinkronasi</span>
    </div>
    {% endif %}
<div id="content-main" class="mt-3" style="display: flex; justify-content: center; align-items: center;">
    <div style="width: 30rem;" class="h-full bg-white rounded border border-[#e0e6ed] dark:border-[#1b2e4b] dark:bg-[#191e3a] dark:shadow-none">
        <div class="py-7 px-6">
            <h5 class="text-[#3b3f5c] text-xl font-semibold mb-4 dark:text-white-light">Sync Data Api</h5>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="">Username</label>
                    <input type="text" name="username" placeholder="username" class="form-input" required>
                </div>
                <div class="form-row">
                    <label for="">Password</label>
                    <input type="text" name="password" placeholder="Password" class="form-input" required>
                </div>
                <div class="mt-3" style="display: flex; justify-content: end;">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}